<% var title="remove user" %>
<% include head %>
<h1>Remove</h1>
<form method="post" action="/remove">
<p>
<label>Username:</label>
<input type="text" name="username">
</p>
<p>
<button type="summit">summit</button>
</p>
</form>
<% include foot %>
